.review-wrapper {
    overflow: hidden;


}

.review-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 800;
    position: relative;
    font-size: 1.5vw; 
} 

.span-title {
    color: #008A4C;
}

.border-bottom {
    border-bottom: 4px solid #008A4C; 
    border-end-end-radius: 1rem;
    width: 5%;
    text-align: center;
    margin: 1px auto;
}

.review-container {
   width: 80%;
  height: 60vh; 
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
   
  
   
}


.review-container .client-container {
    position: relative;
    width: 330px;  
    background: rgba(0, 138, 76, 0.21);
    margin: 40px 0% 40px 18.5%;
    padding: 10px 20px;
    transition: 0.3s ease;
    border-radius: 2rem;
    box-shadow:rgba(34, 34, 34, 0.9); 
   

   
}

.client-info {
    text-align: center;
    color: black;
    opacity: 0.74;

}

.review-container .client-container .client-pic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -11%;
    /* width: 100%; */
    display: block;
    

    
}

.review-container .client-container .client-pic img {
    /* transition: 0.3s ease; */
    z-index: -20;

}

.client-info h3 {
 padding: 4rem 0 1.5rem;
}

.client-container p {
    font-size: 0.9rem;
    opacity: 0.86;
    padding: 0 8px;
    line-height: 1.5;
} 

.review-container .quote-left {
    font-size: 25px;
    display: block;
    text-align: left;
    color: #008A4C;
}

.review-container .quote-right {
    font-size: 25px;
    display: block;
    text-align: right;
    color: #008A4C;
}