.house-container {
  background-image: url("../../../../public/images/property1.gif.GIF");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2.5rem auto 4rem 6%;
  opacity: 1;
}

.house-wrapper {
  transform: translateY(30%);
}

.house-title {
  color: white;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.estate-features h2 {
  font-size: 24px;
  margin-bottom: 2rem;
  text-align: center;
}

.estate-features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.estate-feature {
  margin: 10px;
}

.icons img {
  width: 30px;
  height: 30px;
  margin-left: 22px;
  align-items: center;
}

.icons-text {
  font-size: 1.5rem;
}

.bedroom-ter-wrapper {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 60px;
  justify-content: center;
  position: relative;
}

.description-heading {
  background-color: #008a4c;
  padding: 10px;
  color: white;
  width: max-content;
  margin-bottom: 20px;
}

.flex- {
    display: flex;
    gap: 20px;
}

 .description1 ul li {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding-bottom: 14px;
 }


 
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 27.5px;
  height: 27.25px;
  padding: 2px 2px;
  flex-shrink: 0;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

label {
  font-size: 19px;
  font-weight: 400;
  cursor: pointer;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c ";
  font-size: 22px;
  color: white;
  display: none;
}

input[type="checkbox"]:hover {
  background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
  background-color: #5bcd3e;
}

input[type="checkbox"]:checked:after {
  display: block;
}



.bedroom-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.bedroom-display img {
  width: 500px;
height: 300px;

}

.bedroom-building {
  width: 618px;
  height: 365px;
}

section {
  text-align: left;
}

.custom-checkbox + .custom-checkbox-label:before {
  content: "";
  display: inline-block;
  width: 18px; /* Checkbox width */
  height: 18px; /* Checkbox height */
  border: 2px solid #ccc; /* Checkbox border color */
  background-color: white; /* Checkbox background color */
  vertical-align: middle;
  margin-right: 8px; /* Spacing between checkbox and text */
  cursor: pointer;
}

/* Style for checked custom checkboxes */
.custom-checkbox:checked + .custom-checkbox-label:before {
  background-color: #76d54d; /* Change this to your preferred background color */
}
