


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  width: 90%;
  margin: 3.5rem auto 3.5rem 6%;
}

.grid-one {
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;
  
}

.grid-two img {
  transition: transform 0.3s;
 box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.9); 
} 

.grid-two:hover img {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.grid-three img {
  transition: transform 0.3s;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.9);
}

.grid-three:hover img {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}



 .primary {
  border: 2px solid #999; 
  border-radius: 5px; 
  border: #999;
  box-shadow: 8px 10px 10px; 
  width: 28rem;
  height: 34rem;
  padding: 0 5rem;
  transition: transform 0.3s;
}  

.primary:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.1); 
}

 .primary {
  border: 2px solid #999; 
  /* padding: 10px 10px 50px;  */
  border-radius: 5px; 
  border: #999;
  box-shadow: 8px 10px 10px;
  width: 28rem;
  height: 34rem;
  padding: 0 5rem;
   transition: transform 0.3s;
}



@media (max-width: 1024px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 3.5rem auto;
  }

  .grid-one,
  .grid-two,
  .grid-three {
    width: 100%;
    height: 34rem;
    margin-bottom: 2rem;
  }

  .grid-two,
  .grid-three {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-one {
    font-size: 1.5rem;
    text-align: center;
  }

  .primary {
    width: 100%;
    height: 100%;
    padding: 0 5rem;
  }
}
/* @media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); 
    width: 80%; 
    margin: 3.5rem auto;
  }

   .grid-one {
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;
  
}

  .grid-two img {
    
    
  }

  .grid-two:hover img {
    
  }

  .grid-three img {
    
  }

  .grid-three:hover img {
    
  } 

  
} */
