.flexCenter {
  display: flex;
   column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3.4rem;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.067);
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}



.stats {
    width: 100%;

    }

.stat>:nth-child(1) {
    font-size: 2rem;
}

.stat>:nth-child(1)>:last-child {
    color: #008A4C;;
}

.secondary-text {
    /* opacity: 0.76; */
    font-size: 0.9rem;
   
  
}